doctype html
html
  head
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap' rel='stylesheet')
    meta(charset="utf-8")
    meta(name='csrf-token' content=csrfToken)
    
    style.
      body {
        font-family: 'Fraunces', serif;
        font-weight: 300
      }
      .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: grey;
        opacity: 0.5; /* Firefox */
      }

      .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: grey;
        opacity: 0.5; /* Firefox */
      }

      .form-control::-ms-input-placeholder { /* Microsoft Edge */
        color: grey;
        opacity: 0.5; /* Firefox */
      }
  body
    nav.navbar.navbar-expand-lg.bg-body-white.border.border-bottom-secondary
      .container-fluid
        a.navbar-brand
        .d-flex
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/representatives/hotelprofiles') List Your Hotel
              li.nav-item.ms-5
                //- a.nav-link(href='#') Publish News
                a.nav-link(href=`${reactUrl}/publish-news`) Publish News
              li.nav-item.dropdown.ms-5
                if user
                  a.nav-link.text-success.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | #{user.name}
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href='/representatives/logout') Log out
                else
                  a.nav-link(href='/representatives/login') Log in
              //- li.nav-item.ms-5  
                button.btn.btn-danger(type='submit') FIND A HOTEL
    
    nav.navbar.navbar-expand-lg.bg-body-white.border.border-bottom-secondary
        .container-fluid
          a.navbar-brand.ms-5
            img(src='/images/logo red.png', width='250')
            
          .d-flex
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.me-5
                  a.nav-link(href=reactUrl) Home
                li.nav-item.me-5
                  a.nav-link(href='#') Luxury Hotels &amp; Resorts
                li.nav-item.dropdown.me-5
                  a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | News
                  ul.dropdown-menu.dropdown-menu-end
                    li
                      a.dropdown-item(href='#') Action
                    li
                      a.dropdown-item(href='#') Action
                    li
                      a.dropdown-item(href='#') Action



    .d-flex.flex-column(style='min-height: 60vh;')
      .flex-grow-1
        block content
      
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous")
    
    .container-fluid.bg-dark
      .container
        footer.py-5
          .row
            .col-3.mb-3
              span
                img.mb-2(src='/images/logo red.png' width='200' )
              
              ul.nav.flex-column.mt-2
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Luxury Hotels and Resorts
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Luxury Hotels Magazines
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Nominate Your Hotel
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Hotel News
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') General News
            .col-3.mb-3
              h5.text-danger About Us
              ul.nav.flex-column
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Our Team
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') About Us
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') What We Do
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Branding Registration
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Collaborative Advantages
            .col-3.mb-3
              h5.text-danger Adervtiser
              ul.nav.flex-column
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Distribution
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Publish News
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Media Packs
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') Advertise With Us
                li.nav-item.mb-2
                  a.nav-link.p-0.text-light(href='#') List Your Hotels
            .col-3.mb-3
              form
                h5.text-light Contact us
                
                .d-flex.flex-column.flex-sm-row.w-100.gap-2
                  label.visually-hidden(for='newsletter1') Email address
                  input#newsletter1.form-control(type='text' placeholder='Email address')
                  button.btn.btn-danger Submit


          .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
            .col-8
              p.text-light Privacy Policy | Terms &amp; Conditions
            .col-4
              p.text-light All Copyright &copy; 2024 Reserved

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0096FF" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/>
              </svg>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#d72d5e" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
              </svg>